<title><%= title %></title>

<!-- Default  -->
<link rel='stylesheet' href='/stylesheets/style.css' />

<!-- Google Fonts  -->
<link href="//fonts.googleapis.com/css?family=Paytone+One|Quicksand&amp;subset=latin-ext,vietnamese" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

<!-- Bootstrap 3 -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- AngularJS  -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

<!-- Animate.css  -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<!-- Firebase  -->
<script src="//www.gstatic.com/firebasejs/4.2.0/firebase-app.js "></script>
<script src="//www.gstatic.com/firebasejs/4.2.0/firebase-auth.js "></script>
<script src="//www.gstatic.com/firebasejs/4.2.0/firebase-database.js "></script>
<script src="//www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js "></script>
<script src="//www.gstatic.com/firebasejs/4.2.0/firebase.js "></script>
<script src="/javascripts/system/configFirebase.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>