<!DOCTYPE html>
<html>
  <head>
    <title>
      Project Cinema
    </title>
    
    <!-- Default  -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Google Fonts  -->
    <link href="//fonts.googleapis.com/css?family=Paytone+One|Quicksand&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- AngularJS  -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <!-- Animate.css  -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- Firebase  -->
    <script src="//www.gstatic.com/firebasejs/4.2.0/firebase-app.js "></script>
    <script src="//www.gstatic.com/firebasejs/4.2.0/firebase-auth.js "></script>
    <script src="//www.gstatic.com/firebasejs/4.2.0/firebase-database.js "></script>
    <script src="//www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js "></script>
    <script src="//www.gstatic.com/firebasejs/4.2.0/firebase.js "></script>
    <script src="/javascripts/system/configFirebase.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
  </head>
  <body>
      <!-- HEADER -->
      <!-- <div class="my-header-page"> -->
          <div class="my-top-header-text">
              <h1 id="primary" href="http://localhost:3000"> Project Cinema </h1>
          </div>
      <!-- </div> -->
      <!-- NAV BAR -->
      <nav class="navbar navbar-default navbar-custom" style="background-color:#66e1ff">
          <div class="container-fluid my-containter-full">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin:auto">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-link" href="/">
                <i class="fa fa-home" aria-hidden="true" style="color:black; font-size: 16px"></i>
              </a> -->
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1" style="margin-left:-25px">
              <ul class="nav navbar-nav nav-left" style="margin:auto;align-content: center;text-align: center">
                  <li class="li-icon" ng-show="checkPageIndex()" >
                      <a href="http://localhost:3000" id="white">
                          <i class="fa fa-home" aria-hidden="true" ></i>
                      </a>
                  </li>  
                <li class="li-icon" ng-show="checkPageIndex()">
                      <a href="" onclick="toggleInputSearch()" id="white">
                          <i class="fa fa-search" aria-hidden="true" ></i>
                      </a>
                  </li>
                  <li class="li-input-search" ng-show="checkPageIndex()" style="align-content:center;margin-top: 8px" >
                      <input type="text" class="form-control input-search" id="input-search" placeholder="Enter your keyword..." ng-model="search" style="color:#02afee">
                  </li>
                  <li class="li-icon">
                      <a href="/" ng-show="!checkPageIndex()" id="white" ng-cloak>
                          <i class="fa fa-arrow-circle-left" aria-hidden="true" ></i>
                      </a>
                  </li>
                  <li>
                      <a href="/user/profile" ng-cloak ng-hide="!userLogined" >
                          <img ng-src="{{currentUserAvartar}}" alt="avatar" ng-cloak> {{currentUsername}}
                      </a>
                  </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/upload" id="white"><!-- ng-cloak -->
                          <i class="fa fa-upload fa-lg" aria-hidden="true" ></i> Upload film </a>
                  </li>

                  <li ng-hide="userLogined" ><!-- ng-cloak -->
                      <a href="#" data-toggle="modal" data-target="#modalLogin" id="white">
                          <i class="fas fa-sign-in-alt" aria-hidden="true"  ></i> Login </a>
                  </li>

                  <li ng-hide="userLogined" ><!-- ng-cloak -->
                      <a href="#" data-toggle="modal" data-target="#modalSignUp" id="white">
                          <i class="fa fa-user-plus fa-lg" aria-hidden="true" ></i> Register </a>
                  </li>

                  <!-- Dropdown menu  -->
                  <li class="dropdown my-drop-down" ng-hide="!userLogined" ng-cloak>
                      <a class="dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-cogs fa-lg" aria-hidden="true"></i> Cài đặt
                      </a>
                      <div id="my-dropdown-menu" class="dropdown-menu my-dropdown-menu animated bounceIn" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/user/profile">
                              <div class="my-menu-item">
                                  <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> &nbsp; Thiết lập hồ sơ
                              </div>
                          </a>
                          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalChangePassword">
                              <div class="my-menu-item">
                                  <i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i> &nbsp; Thay đổi mật khẩu
                              </div>
                          </a>
                          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalLogout">
                              <div class="my-menu-item">
                                  <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> &nbsp; Đăng xuất
                              </div>
                          </a>
                      </div>
                  </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <!-- /. Hết nav bar -->
        
      </body>

  <!-- jquery -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</html>
