  body {
    padding-left: 25px;
	  padding-right: 25px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/bg1.jpg");
  }
  
  a {
    color: #00B7FF;
  }
  a.primaryColor{
    color: #02afee
  }

  #primary {
    color: #02afee;
  }
  #primaryLight {
    color: #66e1ff;
  }
  #primaryDark {
    color: #0080bb;
  }
  #white {
    color: white;
  }