body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  #primary {
    color: #02afee;
  }
  #primaryLight {
    color: #66e1ff;
  }
  #primaryDark {
    color: #0080bb;
  }
  
  a.primaryColor{
    color: #02afee
  }