<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <!-- HEADER -->
        <div class="my-top-header-text">
            <h1 id="white"> Project Cinema </h1>
        </div>

        <% include ../partials/header %>
        
        <% include ../partials/footer %>
    </body>
  
</html>
