<!DOCTYPE html>
<html>
  <head>
        <% include ../partials/head %>
  </head>
  <body>
      <!-- HEADER -->
          <div class="my-top-header-text">
              <h1 id="white" href="http://localhost:3000"> Project Cinema </h1>
          </div>
    
        <% include ../partials/header %>
        
        <link rel="stylesheet" href="/stylesheets/uploadFilm.css">
        <script src="/javascripts/uploadFilm.js"></script>
        
        <div ng-controller="createController" ng-show="completeLoading">
        
            <div class="container my-container-center my-title-header">
                <h1 id="white"> Upload new film </h1>
            </div>
        
            <div class="container my-create-film">
                <form role="form">
                    <div class="container col-sm-12 col-md-5 my-upload-image text-center ">
                        <a href="" ng-click="clickUploadImage()">
                            <img id="imageFilm" name="imageFilm" src="/images/default_image2.png">
                        </a>
                        <input type="file" style="display:none" id="fileInput" name="fileInput" accept="image/*" onchange="readURL(this)">
        
                        <button type="button" class="btn btn-primary my-btn text-center" ng-click="clickUploadImage()">
                            <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
                            Upload film poster
                        </button>
                    </div>
        
                    <div class="container col-sm-12 col-md-7 my-form-film">
                        <div class="form-group">
                            <h4 id="white">Name:</h4>
                            <input class="form-control my-input-film" type="text" id="filmName" ng-model="filmName">
                        </div>
        
                        <div class="form-group">
                            <h4 id="white">Genres:</h4>
                            <select ng-options="genre for genre in listGenreFilms" ng-model="filmGenre" class="my-input-film col-md-12 col-sm-12 col-lg-12 col-xs-12 my-select-film" id="filmGenre">
                            </select>
                        </div>
        
                        <div class="form-group">
                            <h4 id="white">Release year: </h4>
                            <select ng-options="year for year in listYear" ng-model="filmYear" class="my-input-film my-select-film col-md-12 col-sm-12 col-lg-12 col-xs-12" id="filmMonth"></select>
                        </div>
        
                        <div class="form-group">
                            <h4 id="white">Description:</h4>
                            <!-- <input class="form-control my-input-film" type="text" id="filmContent" rows="5" ng-model="filmContent" placeholder="Please enter film's description..."> -->
                            
                            <textarea class="form-control my-input-film" id="filmContent" rows="5" placeholder="Please enter film's description..." ng-model="filmContent"></textarea>
                        </div>
                    </div>
        
                    <div class="container my-container-center my-bot-form">
                        <button type="submit" class="btn btn-primary my-btn text-center ng-click="clickUploadFilm()" ng-disabled="!userLogined" style="margin-right:15px">
                            <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
                            Upload film
                        </button>
                        <!-- <button type="submit" class="btn btn-primary my-btn text-center ng-hide="userLogined" data-toggle="modal"
                            data-target="#modalLogin">
                            <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
                            Bạn cần đăng nhập
                        </button> -->
                    </div>
                </form>
        
        
                <!-- THÔNG BÁO NÊN ĐĂNG NHẬP TRƯỚC KHI TẠO PHIM  -->
                <!-- <div class="modal fade animated rubberBand" id="modalWarningCreateFilm" tabindex="-1" role="dialog">
                    <div class="modal-dialog my-modal-dialog" role="document">
                        <div class="modal-content my-modal-content">
                            <div class="modal-header my-modal-header">
                                <div class="text-right" style="margin-right: 20px">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-close fa-lg" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <br>
                                <div class="text-center">
                                    <h3 class="modal-title">Bạn nên đăng nhập để tạo phim.</h3>
                                </div>
                            </div>
                            <div class="row" style="margin:20px">
                                <div class="col-xs-6 col-md-6 col-lg-6 text-left">
                                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6 text-right">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalLogin">Đăng nhập</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

      </body>

</html>
